﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Show Starter System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
	<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
	<script type="text/javascript">
	// This identifies your website in the createToken call below
	Stripe.setPublishableKey('pk_test_W2e5MasAoEi27WUtqWjvDU8P');
	// ...
	</script>
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Show Starter System", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    
                    
					@if (User.Identity.IsAuthenticated)
					{
						<li><a href="#"> Welcome @User.Identity.Name</a></li>
						<li>@Html.ActionLink("Logout", "Logout", "Account")</li>
					}
					else
					{
						<li>@Html.ActionLink("Login", "Login", "Account")</li>
						<li>@Html.ActionLink("Register","Register","Account")</li>

					}

					
					<li>@Html.ActionLink("Events", "Index", "Event")</li>
					<li>@Html.ActionLink("Badges","Index","Badge")</li>
					<li>@Html.ActionLink("About", "About", "Home")</li>
					<li>@Html.ActionLink("Contact", "Contact", "Home")</li>
					@if (User.IsInRole("A"))
					{
						<li>
							<div class="btn-group">
								<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
									Administrator Access <span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li>@Html.ActionLink("Show", "Index", "Show")</li>
									<li>@Html.ActionLink("Venue", "Index", "Venue")</li>
									<li>@Html.ActionLink("Rooms", "Index", "Room")</li>
									<li>@Html.ActionLink("Events", "Index", "Event")</li>
								</ul>
							</div>
						</li>
					}
					
					@if (User.IsInRole("A") || User.IsInRole("S"))
					{
						<li>
							<div class="btn-group">
								<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
									Staff Functions <span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li>@Html.ActionLink("Show", "Index", "Show")</li>
									<li>@Html.ActionLink("Departments", "Index", "Department")</li>
									<li>@Html.ActionLink("Inventory","Index","Inventory")</li>
									<li>@Html.ActionLink("Rental Companies", "Index", "RentalCompany")</li>
								</ul>
							</div>
						</li>
					}
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - David Camp, Show Starter System</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
