﻿@model ShowStarterSystem2.Models.BADGE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BADGE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LineOneInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LineOneInfo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LineTwoInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LineTwoInfo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hasBeenBought)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hasBeenBought)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BADGE_TYPE.BadgeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BADGE_TYPE.BadgeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USERS.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USERS.UserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BadgeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
