﻿@model IEnumerable<ShowStarterSystem2.Models.BADGE>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create") | @Html.ActionLink("Purchase Badges", "Purchase")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LineOneInfo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LineTwoInfo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hasBeenBought)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BADGE_TYPE.BadgeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USERS.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LineOneInfo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LineTwoInfo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hasBeenBought)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BADGE_TYPE.BadgeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USERS.UserName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BadgeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BadgeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BadgeID })
        </td>
    </tr>
}

</table>
