﻿@model IEnumerable<ShowStarterSystem2.Models.BADGE>

@{
	ViewBag.Title = "Purchase";
}

<h2>Confirm Purchase Details and enter Billing Information</h2>


<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.LineOneInfo)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.LineTwoInfo)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.USERS.UserName)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.BADGE_TYPE.BadgeName)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.BADGE_TYPE.BadgePrice)
		</th>
		<th></th>
	</tr>
	@{
		decimal total = 0;
		int numBadges = Model.Count();
	}
	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.LineOneInfo)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.LineTwoInfo)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.USERS.UserName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.BADGE_TYPE.BadgeName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.BADGE_TYPE.BadgePrice)
				@{
				total += (item.BADGE_TYPE.BadgePrice);
				}
			</td>
		</tr>

	}
	<tr>
		<td>
			Total:
		</td>

		<td>
			@total
		</td>
	</tr>

</table>
@{
	decimal cents = total * 100;
	string displayString = numBadges + " Badges ($" + total + ")";
}

<form action="Purchase" method="POST">
	<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
			data-key="pk_test_W2e5MasAoEi27WUtqWjvDU8P"
			data-amount=@cents
			data-name="Show Starter System"
			data-description=@displayString>
	</script>
</form>
