﻿@model ShowStarterSystem2.Models.BADGE_TYPE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BADGE_TYPE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BadgeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BadgeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BadgePrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BadgePrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAvailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BadgeDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BadgeDays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SHOW.ShowName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SHOW.ShowName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BadgeTypeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
