﻿@model IEnumerable<ShowStarterSystem2.Models.BADGE_TYPE>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BadgeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BadgePrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAvailable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BadgeDays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SHOW.ShowName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BadgeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BadgePrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsAvailable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BadgeDays)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SHOW.ShowName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BadgeTypeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BadgeTypeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BadgeTypeID })
        </td>
    </tr>
}

</table>
