﻿@model IEnumerable<ShowStarterSystem2.Models.SHOW>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ShowName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Theme)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isDefaultShow)
        </th>
        <th>
			
		</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ShowName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Theme)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isDefaultShow)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ShowID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ShowID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ShowID })
        </td>
		
    </tr>
}

</table>
