﻿@model ShowStarterSystem.Models.USER

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<h5>@ViewBag.Msg</h5>

@using (Html.BeginForm("Login","Account",FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Login</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
        </div>

		<div class="form-group">
			@Html.LabelFor(model => model.RawPassword, htmlAttributes: new{@class = "control-label col-md-2"})
			<div class="col-md-10">
				@Html.EditorFor(model => model.UserName, new {htmlAttributes = new {@class = "Form-control"}})
				@Html.ValidationMessageFor(model => model.RawPassword, "", new { @class = "text-danger" })
			</div>
		</div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
