﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Show Starter System</h1>
    <p class="lead">The Show Starter System is an all-in-one product for planning a conference or convention.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
           The Show Starter System is set-up and ready to go! The first user account created will automatically be an administrator. Just plug and play.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Back-End</h2>
       <p>
		   The Show Starter System is supported by a robust SQL Server Database for your data storage needs.
	   </p>
    </div>
</div>