﻿@model ShowStarterSystem2.Models.RENTAL_COMPANY

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RENTAL_COMPANY</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RentalCompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RentalCompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StreetAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StreetAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StateAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StateAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZIPCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZIPCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactEmail)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RentalCompanyID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
