﻿@model ShowStarterSystem2.Models.ROOM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ROOM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsSinglePurpose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsSinglePurpose)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MainPurpose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MainPurpose)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsCombinedRoom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsCombinedRoom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VENUE.VenueName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VENUE.VenueName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RoomID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
