﻿@model IEnumerable<ShowStarterSystem2.Models.ROOM>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsSinglePurpose)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MainPurpose)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsCombinedRoom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VENUE.VenueName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsSinglePurpose)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MainPurpose)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsCombinedRoom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VENUE.VenueName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RoomID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RoomID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RoomID })
        </td>
    </tr>
}

</table>
