﻿@model ShowStarterSystem2.Models.DEPARTMENT

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DEPARTMENT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DepartmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeparmentDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeparmentDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DepartmentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
