﻿@model ShowStarterSystem2.Models.SHOW_EVENT

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SHOW_EVENT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EventName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestedEquipment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestedEquipment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpectedAttendance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpectedAttendance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActualAttendance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActualAttendance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WasInPreviousShow)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WasInPreviousShow)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ROOM_CONFIGURATION.ConfigurationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ROOM_CONFIGURATION.ConfigurationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SHOW.ShowName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SHOW.ShowName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
