﻿@model IEnumerable<ShowStarterSystem2.Models.SHOW_EVENT>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EventName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestedEquipment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpectedAttendance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActualAttendance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WasInPreviousShow)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ROOM_CONFIGURATION.ConfigurationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SHOW.ShowName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EventName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestedEquipment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpectedAttendance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActualAttendance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WasInPreviousShow)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ROOM_CONFIGURATION.ConfigurationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SHOW.ShowName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EventID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EventID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EventID })
        </td>
    </tr>
}

</table>
